.pageMargin {
    margin-top:25px;
    margin-bottom:25px;
    padding-left:50px;
    padding-right:50px;
}

.mainHeading {
    margin-bottom:30px;
}

.navbarPadding {
    padding-top:20px;
    padding-bottom:20px;
}

.btnForceRight {
    float:right !important;
}

.seperator {
    margin-bottom:30px;
}

.buttonSpace {
    margin-left:10px;
    margin-right:10px;
}